
    <h1> OI </h1>


    <div> 
    <p>Seja muito bem vindo ao faustão no sbt</p> </div>

    <div>
    <%= image_tag("celso_avatar") %>
    </div>

    <%= link_to "Github", "https://github.com/CarlosEduardoAD/sa-senai-vinil", target: "_blank" %>

    <%= button_to "Github" , "https://github.com/CarlosEduardoAD/sa-senai-vinil" %>

    <%= button_to "Delete" , "profiles/celso", methods: "delete" %>
